<h3>Overzicht afrekeningen</h3>
<div style='display:inline-block;width:50%'>
  <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/afrekeningcreate">
    <i class="fa fa-plus-square"></i>  Afrekening aanmaken</button>
</div>
<div style='display:inline-block;width:50%'>
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="filter" placeholder="Filter...">
    </div>
  </form>
</div>

<table mdbTable small="true" striped="true">
  <thead class="special-color white-text">
    <tr>
      <th scope="col" (click)="sort('id')" style="border-radius:2px 0px 0px 0px">#</th>
      <th scope="col" (click)="sort('van')">Van</th>
      <th scope="col" (click)="sort('tot')">Tot</th>
      <th scope="col" style="border-radius:0px 2px 0px 0px">Actie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let afrekening of afrekeningen | orderBy: key : reverse | filter:filter">
      <th scope="row">{{ afrekening.id }}</th>
      <td>{{ afrekening.van | date:'dd/MM/yyyy' }}</td>
      <td>{{ afrekening.tot | date:'dd/MM/yyyy' }}</td>
      <td><a href="#" routerLink="/afrekeningdetail/{{afrekening.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>
