<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Factuur toevoegen</h3>
        <form>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.omschrijving" type="text" name="omschrijving" class="form-control" id="omschrijving">
            <label for="omschrijving" class="">Omschrijving</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.bedrag" type="number" name="bedrag" class="form-control" id="bedrag">
            <label for="bedrag" class="">Bedrag</label>
          </div>
          <div class="md-form form-group">
            <mdb-date-picker id="factuurdatum" name="factuurdatum" [options]="myDatePickerOptions" [label]="'Factuurdatum'" [(ngModel)]="factuur.datum"></mdb-date-picker>
          </div>
          <div class="md-form form-group">
            <mdb-date-picker id="vervaldatum" name="vervaldatum" [options]="myDatePickerOptions" [label]="'Vervaldatum'" [(ngModel)]="factuur.vervaldatum"></mdb-date-picker>
          </div>
          <div class="row">
            <div class="col-md-6 md-form form-group mt-0">
              <mdb-select *ngIf="partnersSelect" (ngModelChange)="getSelectedValue($event)"
                          [(ngModel)]="selectedPartner" [options]="partnersSelect" name="partners" placeholder="Leverancier selecteren"></mdb-select>

            </div>
            <div class="col-md-1 pt-2">
              <label>of</label>
            </div>
            <div class="col-md-5">
              <button type="button" size="sm" mdbBtn color="primary" (click)="basicModal.show()">Aanmaken</button>
            </div>
          </div>
        </form>
        <button class="btn btn-primary" (click)="createFactuur()">Toevoegen</button>
      </div>
    </div>
  </div>

<div mdbModal #basicModal="mdbModal" class="modal fade" id="leverancierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Nieuwe leverancier toevoegen</h5>
      </div>
      <div class="modal-body">
        <label for="naam">Naam</label>
        <input [(ngModel)]="partner.naam" type="text" name="naam" class="form-control form-control-lg pt-1 pb-1" id="naam" aria-describedby="nameHelp">
        <br><br>
        <label for="bedrag">Bankrekeningnummer</label>
        <input [(ngModel)]="partner.rekeningnummer" type="text" name="bankrekeningnummer" class="form-control form-control-lg pt-1 pb-1" id="bankrekeningnummer" aria-describedby="emailHelp">
        <br><br>
        <label for="kostenype">Type</label>
        <select *ngIf="kostenTypes" class="form-control" [(ngModel)]="selectedType" name="kostentype" placeholder="Geef het kostenype in">
             <option *ngFor="let type of kostenTypes" value={{type.id}}>{{type.naam}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button mdbBtn type="button" color="light" class="waves-light" (click)="basicModal.hide()">Annuleren</button>
        <button mdbBtn type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="createPartner(partner);basicModal.hide">Opslaan</button>
      </div>
    </div>
  </div>
</div>
