<br><br>
<h2>Inkomsten 2019</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th style="text-align: left;">Eigenaar</th>
    <th style="text-align: right;">Jan</th>
    <th style="text-align: right;">Feb</th>
    <th style="text-align: right;">Maart</th>
    <th style="text-align: right;">April</th>
    <th style="text-align: right;">Mei</th>
    <th style="text-align: right;">Juni</th>
    <th style="text-align: right;">Juli</th>
    <th style="text-align: right;">Aug</th>
    <th style="text-align: right;">Sep</th>
    <th style="text-align: right;">Okt</th>
    <th style="text-align: right;">Nov</th>
    <th style="text-align: right;">Dec</th>
    <th style="text-align: right;">Totaal</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lijn of rapportInkomsten">
    <td style="text-align: left;">
      {{ lijn[0] }}
    </td>
    <td style="text-align: right;">{{ lijn[1][0] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][1] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][2] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][3] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][4] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][5] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][6] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][7] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][8] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][9] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][10] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][11] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][12] | number: '1.2-2' }}</td>
  </tr>
  </tbody>
  <br>
</table>

<h2>Uitgaven 2019</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th style="text-align: left;">Uitgavensoort</th>
    <th style="text-align: right;">Jan</th>
    <th style="text-align: right;">Feb</th>
    <th style="text-align: right;">Maart</th>
    <th style="text-align: right;">April</th>
    <th style="text-align: right;">Mei</th>
    <th style="text-align: right;">Juni</th>
    <th style="text-align: right;">Juli</th>
    <th style="text-align: right;">Aug</th>
    <th style="text-align: right;">Sep</th>
    <th style="text-align: right;">Okt</th>
    <th style="text-align: right;">Nov</th>
    <th style="text-align: right;">Dec</th>
    <th style="text-align: right;">Totaal</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lijn of rapportUitgaven">
    <td style="text-align: left;">
      {{ lijn[0] }}
    </td>
    <td style="text-align: right;">{{ lijn[1][0] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][1] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][2] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][3] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][4] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][5] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][6] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][7] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][8] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][9] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][10] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][11] | number: '1.2-2' }}</td>
    <td style="text-align: right;">{{ lijn[1][12] | number: '1.2-2' }}</td>
  </tr>
  </tbody>
  <br>
</table>

<h2>Werkrekening 2019</h2>

<table class="table table-striped">
  <thead>
    <th style="text-align: left;">Eigenaar</th>
    <th style="text-align: right;">Voorschotten</th>
    <th style="text-align: right;">Uitgaven</th>
    <th style="text-align: right;">Saldo</th>
    <th style="text-align: right;">Overgenomen saldo</th>
    <th style="text-align: right;">Totaal</th>
  </thead>
  <tbody>
    <tr *ngFor="let lijn of rapportWerkrekening">
      <td style="text-align: left;"> {{ lijn[0] }} </td>
      <td style="text-align: right;"> {{ lijn[1].voorschotten | number: '1.2-2' }}</td>
      <td style="text-align: right;"> {{ lijn[1].uitgaven | number: '1.2-2' }}</td>
      <td style="text-align: right;"> {{ lijn[1].saldo | number: '1.2-2' }}</td>
      <td style="text-align: right;"> {{ lijn[1].vorig_saldo | number: '1.2-2' }}</td>
      <td style="text-align: right;" > {{ lijn[1].totaal | number: '1.2-2'}}</td>
    </tr>
  </tbody>
</table>

<h2>Balans 2019</h2>

<div class="row mt-5">
    <div class="col-md-6 mb-3">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">Activa</h5>
        </div>
        <div style="text-align:left" class="card-body">
          <p class="card-text">Bank: {{balans.bank }}</p>
          <p class="card-text mb-0">Vorderingen: {{balans.vorderingen}}</p>
          <div style="margin-left:20px" *ngFor="let lijn of balans.vorderingen_detail">
              <p class="card-text">{{ lijn.naam }}: {{ lijn.bedrag }}</p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">
            <i class="fa fa-edit" aria-hidden="true"></i> Totaal: xxxx.xx €
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">Passiva</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Leveranciers</p>
            <p class="card-text">Teveel ontvangen voorschotten</p>
          </div>
          <div class="card-footer">
            <a href="#" class="card-link">
              <i class="fa fa-edit" aria-hidden="true"></i> Totaal: xxxx.xx €
            </a>
          </div>
        </div>
      </div>
  </div>
