<br>
<div style='display:inline-block;width:50%'>
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Filter...">
</div>
<div style='display:inline-block;width:50%'>
  <button style='float:right' class="btn btn-primary" routerLink="/factuurcreate">
    <i class="fa fa-plus-square"></i>  Factuur toevoegen</button>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">#
      <span *ngIf="key =='id'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('datum')">Datum
      <span *ngIf="key =='datum'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('bedrag')">Bedrag
      <span *ngIf="key =='bedrag'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th>Omschrijving</th>
    <th>Partner</th>
    <th>Vervaldatum</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let factuur of facturen | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
    <th scope="row">{{ factuur.id }}</th>
    <td>
      {{ factuur.datum | date:'dd/MM/yyyy' }}
    </td>
    <td>{{ factuur.bedrag }}</td>
    <td>{{ factuur.omschrijving }}</td>
    <td>{{ factuur.partner }}</td>
    <td>{{ factuur.datum | date: 'dd/MM/yyyy' }}</td>
  </tr>
  </tbody>
  <br>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
