<h3 *ngIf="setupService.setup==3">Overzicht facturen van leveranciers</h3>
<h3 *ngIf="setupService.setup!=3">Voeg nog openstaande facturen toe</h3>
<div style='display:inline-block;width:50%'>
  <button *ngIf="!readOnly" type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/factuurcreate">
    <i class="fa fa-plus-square"></i>  Factuur toevoegen</button>
</div>
<div style='display:inline-block;width:50%'>
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="filter" placeholder="Filter...">
    </div>
    <div style="padding-left:80px;padding-bottom:10px" class="md-form mt-0">
      <mdb-checkbox [(ngModel)]="open" name="open" (click)="switch()">Enkel openstaande facturen</mdb-checkbox>
    </div>
  </form>
</div>

<table mdbTable small="true" striped="true">
  <thead class="special-color white-text">
    <tr>
      <th scope="col" (click)="sort('id')" style="border-radius:2px 0px 0px 0px">#</th>
      <th scope="col" (click)="sort('datum')">Datum</th>
      <th scope="col" (click)="sort('bedrag')" style="text-align:right;padding-right:40px">Bedrag</th>
      <th scope="col" (click)="sort('omschrijving')">Omschrijving</th>
      <th scope="col" (click)="sort('partner')">Leverancier</th>
      <th scope="col" (click)="sort('type')">Kostentype</th>
      <th scope="col" (click)="sort('vervaldatum')">Vervaldatum</th>
      <th scope="col" (click)="sort('betaald')" style="border-radius:0px 2px 0px 0px">Betaald</th>
      <th *ngIf="!readOnly" scope="col" style="border-radius:0px 2px 0px 0px">Actie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factuur of facturen | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
      <th scope="row">{{ factuur.id }}</th>
      <td>
        {{ factuur.datum | date:'dd/MM/yyyy' }}
      </td>
      <td style="text-align:right;padding-right:20px">{{ factuur.bedrag | number: '1.2-2' }} €</td>
      <td>{{ factuur.omschrijving }}</td>
      <td>{{ factuur.partner }}</td>
      <td>{{ factuur.type }}</td>
      <td>{{ factuur.vervaldatum | date: 'dd/MM/yyyy' }}</td>
      <!-- TODO: link to bankuittreksels that pay this invoice -->
      <td style="text-align:center"><a *ngIf="factuur.betaald" href="#" routerLink="/rekeningdetail/"><i class="fas fa-check-circle"></i></a></td>
      <td *ngIf="!readOnly" ><a href="#" routerLink="/factuuredit/{{factuur.id}}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>

<button *ngIf="setupService.setup!=3" style="margin-top:50px" type="button" mdbBtn mdbWavesEffect color="primary" routerLink="/kostentypelist"><i class="fas fa-chevron-left"></i> Vorige</button>
<button *ngIf="setupService.setup!=3" style="margin-top:50px" type="button" mdbBtn mdbWavesEffect color="primary" (click)="setupVoltooien()">Voltooien <i class="fas fa-chevron-right"></i></button>


<pagination-controls *ngIf="setupService.setup==3" (pageChange)="p = $event"></pagination-controls>
