<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Afrekening van {{van}} tot {{tot}}</h3>
        <table *ngIf="items.length>0" mdbTable small="true" striped="true">
          <thead class="special-color white-text">
            <tr>
              <th scope="col">Unit</th>
              <th scope="col">Kostentype</th>
              <th scope="col" style="text-align:right;padding-right:10px">Totaalbedrag</th>
              <th scope="col" style="text-align:right;padding-right:10px">Verdeling</th>
              <th scope="col" style="text-align:right;padding-right:10px">Bedrag</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{item.unit}}</td>
              <td>{{item.type}}</td>
              <td *ngIf="item.totaalbedrag!=''" style="text-align:right">{{item.totaalbedrag | number: '1.2-2'}}</td>
              <td *ngIf="item.totaalbedrag==''" style="text-align:right"></td>
              <td *ngIf="item.verdeling_teller!=''" style="text-align:right">{{item.verdeling_teller}}/{{item.verdeling_noemer}}</td>
              <td *ngIf="item.verdeling_teller==''" style="text-align:right"></td>
              <td *ngIf="item.bedrag!=''" style="text-align:right">{{item.bedrag | number: '1.2-2'}} €</td>
              <td *ngIf="item.bedrag==''" style="text-align:right"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
