<div *ngIf="factuur" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3 *ngIf="factuur.type==='leverancier'">Factuur</h3>
      <h3 *ngIf="factuur.type==='voorschot'">Voorschot</h3>
        <form>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.bedrag" type="text" name="bedrag" class="form-control" id="bedrag" readonly>
            <label for="bedrag" class="">Bedrag</label>
          </div>
          <div *ngIf="factuur.type==='leverancier'" class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.partner" type="text" name="partner" class="form-control" id="partner" readonly>
            <label for="partner" class="">Leverancier</label>
          </div>
          <div *ngIf="factuur.type==='voorschot'" class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.partner" type="text" name="partner" class="form-control" id="partner" readonly>
            <label for="partner" class="">Eigenaar</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.omschrijving" type="text" name="omschrijving" class="form-control" id="omschrijving" readonly>
            <label for="omschrijving" class="">Omschrijving</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.datum" type="text" name="datum" class="form-control" id="datum" readonly>
            <label for="datum" class="">Datum</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.vervaldatum" type="text" name="vervaldatum" class="form-control" id="vervaldatum" readonly>
            <label for="vervaldatum" class="">Vervaldatum</label>
          </div>
        </form>
        <button type="button" mdbBtn mdbWavesEffect color="primary" (click)="back()">Terug naar overzicht</button>
        <!-- <button type="button" mdbBtn mdbWavesEffect color="primary" (click)="saveEigenaar(eigenaar)">Eigenaar wijzigen</button> -->
      </div>
    </div>
</div>
