<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Eigenaar aanmaken</h3>
        <form>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="eigenaar.naam" type="text" name="naam" class="form-control" id="naam">
            <label for="naam" class="">Naam</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="eigenaar.email" type="text" name="email" class="form-control" id="email">
            <label for="email" class="">Email</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="eigenaar.bankrnr" type="text" name="bankrnr" class="form-control" id="bankrnr">
            <label for="bankrnr" class="">Bankrekeningnummer</label>
          </div>
        </form>
        <button type="button" mdbBtn mdbWavesEffect color="primary" outline="true" (click)="back()">Annuleren</button>
        <button *ngIf="check()" type="button" mdbBtn mdbWavesEffect color="primary" (click)="createEigenaar()">Eigenaar aanmaken</button>
        <button *ngIf="!check()" type="button" mdbBtn mdbWavesEffect color="primary" disabled (click)="createEigenaar()">Eigenaar aanmaken</button>
    </div>
  </div>
</div>
