<br>
<div *ngIf="loading">
    loading ...
</div>

<div  *ngIf="!loading" class="container">
  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
  <button type="button" class="btn btn-success btn-s"
    (click)="uploader.uploadAll()"
    [disabled]="!uploader.getNotUploadedItems().length" >
        Upload an Image
  </button>
</div>

<form>
  <div class="file-field md-form">
    <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
      <span>Choose file</span>
      <input type="file" name="photo" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
    </div>
  </div>
  <button mdbBtn color="primary" (click)="startUpload()">Start uploading</button>
</form>
