<!-- SideNav slide-out button -->
<a (click)="sidenav.toggle()" mdbBtn color="black" class="p-3 button-collapse"><mdb-icon fas icon="bars"></mdb-icon></a>
<!--/. SideNav slide-out button -->

<!-- Sidebar navigation -->
<mdb-side-nav #sidenav class="fixed" [fixed]="true" [sidenavBreakpoint]="992">
  <li>
    <div>
      <h2 style="font-family: 'Nunito', sans-serif;padding-left:10px;padding-top:10px">SNDX</h2>
    </div>
  </li>
  <!-- Side navigation links -->
  <li>
    <ul class="collapsible collapsible-accordion">
      <mdb-accordion [multiple]="false" aria-multiselectable="false">

        <mdb-accordion-item *ngIf="setupService.setup==3" class="no-collase" routerLink="/dashboard" routerLinkActive="active">
          <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-tachometer-alt"></i> Dashboard
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="setupService.setup==3" class="no-collase" routerLink="/rekeninglist" routerLinkActive="active">
          <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-piggy-bank"></i> Rekeningoverzicht
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="setupService.setup==3" class="no-collase" routerLink="/factuurlist" routerLinkActive="active">
          <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-file-invoice"></i> Facturen van leveranciers
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="setupService.setup==3" class="no-collase" routerLink="/voorschotlist" routerLinkActive="active">
          <mdb-accordion-item-head mdbWavesEffect><i class="far fa-file-alt"></i> Facturen voor eigenaars
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="setupService.setup==3" class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect><mdb-icon fas icon="chevron-right"></mdb-icon> Rapporten
          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul>
              <li><a href="#" mdbWavesEffect routerLink="/rapportinkomstenuitgaven" routerLinkActive="active">Inkomsten en uitgaven</a></li>
              <!-- <li><a href="#" mdbWavesEffect routerLink="/rapportindividuelerekeningen" routerLinkActive="active">Individuele rekeningen</a></li> -->
              <li><a href="#" mdbWavesEffect routerLink="/rapportbalans" routerLinkActive="active">Balans</a></li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="setupService.setup==3&&!readonly" class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-calculator"></i> Afrekeningen
          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul>
              <li><a href="#" mdbWavesEffect routerLink="/verbruiklist" routerLinkActive="active">Verbruik ingeven</a></li>
              <li><a href="#" mdbWavesEffect routerLink="/afrekeninglist" routerLinkActive="active">Afrekening aanmaken</a></li>
              <!-- <li><a href="#" mdbWavesEffect routerLink="/rapportbalans" routerLinkActive="active">Balans</a></li> -->
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="setupService.setup==3&&!readonly" class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-gavel"></i> Verkoop
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item *ngIf="!readonly" class="no-collase">
          <mdb-accordion-item-head mdbWavesEffect><mdb-icon fas icon="chevron-right"></mdb-icon> Instellingen
          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul>
              <li><a href="#" mdbWavesEffect routerLink="/instellingen" routerLinkActive="active">Algemeen</a></li>
              <li><a href="#" mdbWavesEffect routerLink="/unitlist" routerLinkActive="active">Eigendommen</a></li>
              <li><a href="#" mdbWavesEffect routerLink="/kostentypelist" routerLinkActive="active">Kostentypes</a></li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

      </mdb-accordion>
    </ul>
  </li>
  <!--/. Side navigation links -->
  <div class="sidenav-bg mask-strong"></div>
</mdb-side-nav>
<!--/. Sidebar navigation -->

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div id="feedback">
  	<div *ngIf="feedbackOpen" id="feedback-form" class="col-sm-8 panel panel-default">
  		<form method="POST" action="/feedback" class="form panel-body" role="form">
  			<div class="form-group">
  				<textarea style="margin:10px" [(ngModel)]="helpText" class="form-control" name="helpText" required placeholder="Stel uw vraag hier ..." rows="5"></textarea>
  			</div>
  			<button class="btn btn-primary pull-right" type="submit" (click)="verzend()">Verzend</button>
  		</form>
  	</div>
  	<div id="feedback-tab" (click)="switch()">Help</div>
  </div>
</main>
