<h3>Overzicht Voorschotten</h3>
<div style='display:inline-block;width:50%'>
</div>
<div style='display:inline-block;width:50%'>
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="filter" placeholder="Filter...">
    </div>
    <div style="padding-left:40px;padding-bottom:10px" class="md-form mt-0">
      <mdb-checkbox [(ngModel)]="open" name="open" (click)="switch()">Enkel openstaande voorschotten</mdb-checkbox>
    </div>
  </form>
</div>

<table mdbTable small="true" striped="true">
  <thead class="special-color white-text">
  <tr>
    <th scope="col" (click)="sort('id')" style="border-radius:2px 0px 0px 0px">#</th>
    <th scope="col" (click)="sort('datum')">Datum</th>
    <th scope="col" (click)="sort('bedrag')">Bedrag</th>
    <th scope="col" (click)="sort('omschrijving')">Omschrijving</th>
    <th scope="col" (click)="sort('partner')">Eigenaar</th>
    <th scope="col" (click)="sort('vervaldatum')">Vervaldatum</th>
    <th scope="col" (click)="sort('fk_uittreksel')" style="border-radius:0px 2px 0px 0px">Betaald</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let factuur of facturen | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
    <th scope="row">{{ factuur.id }}</th>
    <td>
      {{ factuur.datum | date:'dd/MM/yyyy' }}
    </td>
    <td>{{ factuur.bedrag | number: '1.2-2'}} €</td>
    <td>{{ factuur.omschrijving }}</td>
    <td>{{ factuur.partner }}</td>
    <td>{{ factuur.vervaldatum | date: 'dd/MM/yyyy' }}</td>
    <td style="text-align:center"><a *ngIf="factuur.fk_uittreksel" href="#" routerLink="/rekeningdetail/{{factuur.fk_uittreksel}}"><i class="fas fa-check-circle"></i></a></td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
