<div class="row">
  <div class="col-md-8 mb-3">
    <div class="card  mb-3">
      <div class="card-header text-white bg-primary"><h4><strong>Inkomsten en uitgaven</strong></h4></div>
      <div class="card-body">
        <div style="display: block">
          <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card  mb-3">
      <div class="card-header text-white bg-primary"><h4><strong>Rekeningsaldi</strong></h4></div>
      <div class="card-body">
        <p style="margin-bottom:0px">Werkrekening</p>
        <h4>{{werkrekeningsaldo | number: '1.2-2'}} €</h4>
        <br>
        <p style="margin-bottom:0px">Reserverekening</p>
        <h4>{{reserverekeningsaldo | number: '1.2-2'}} €</h4>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div [ngClass]="{'col-md-6': ongekoppeld>0, 'col-md-12': ongekoppeld==0}">
    <mdb-card>
      <mdb-card-header class="card-header text-white bg-primary"><h4><strong>Agenda</strong></h4></mdb-card-header>
        <mdb-card-body>
          <table mdbTable small="true" borderless="true">
            <thead>
              <tr>
                <th scope="col">Datum</th>
                <th scope="col">Titel</th>
                <th scope="col">Actie</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agenda of agendas">
                <td>{{ agenda.datum | date: 'dd/MM/yyyy' }}</td>
                <td>{{ agenda.actie }}</td>
                <td *ngIf="agenda.visible" style="padding:0px">
                  <button mdbBtn routerLink={{agenda.link}} type="button" size="sm" color="primary"><i class="fas fa-sign-in-alt"> </i></button>
                </td>
                <td *ngIf="!agenda.visible" style="padding:0px">
                  <button mdbBtn routerLink={{agenda.link}} type="button" size="sm" color="light" disabled><i class="fas fa-magic"> </i> </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mdb-card-body>
      </mdb-card>
  </div>
  <div *ngIf="ongekoppeld>0" class="col-md-6 mb-3">
    <div class="card  mb-3">
      <div class="card-header text-white bg-primary"><h4><strong>Acties</strong></h4></div>
        <div class="card-body">
          <table mdbTable small="true" borderless="true">
            <thead>
              <tr>
                <th scope="col">Actie</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rekeningnummers koppelen</td>
                <td style="padding:0px">
                  <button routerLink="/ongekoppeld" mdbBtn type="button" size="sm" color="primary"><i class="fas fa-sign-in-alt"></i> </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card  mb-3">
      <div class="card-header text-white bg-primary"><h4><strong>Te ontvangen voorschotten</strong></h4></div>
        <div class="card-body">
          <table mdbTable small="true" borderless="true" hover="true">
            <thead>
              <tr>
                <th scope="col">Factuurdatum</th>
                <th scope="col">Vervaldatum</th>
                <th scope="col">Eigenaar</th>
                <th scope="col">Bedrag</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let voorschot of voorschotten">
                <td [ngClass]="{'grey-text':!voorschot.vervallen}">{{voorschot.datum | date:'dd/MM/yyyy'}}</td>
                <td [ngClass]="{'grey-text':!voorschot.vervallen}">{{voorschot.vervaldatum | date:'dd/MM/yyyy'}}</td>
                <td [ngClass]="{'grey-text':!voorschot.vervallen}">{{voorschot.partner}}</td>
                <td [ngClass]="{'grey-text':!voorschot.vervallen}">{{voorschot.bedrag | number: '1.2-2'}} €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card  mb-3">
      <div class="card-header text-white bg-primary"><h4><strong>Te betalen facturen</strong></h4></div>
        <div class="card-body">
          <table mdbTable small="true" borderless="true" hover="true">
            <thead>
              <tr>
                <th scope="col">Factuurdatum</th>
                <th scope="col">Vervaldatum</th>
                <th scope="col">Levarancier</th>
                <th scope="col">Bedrag</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let factuur of facturen">
                <td [ngClass]="{'grey-text':!factuur.vervallen}">{{factuur.datum | date:'dd/MM/yyyy'}}</td>
                <td [ngClass]="{'grey-text':!factuur.vervallen}">{{factuur.vervaldatum | date:'dd/MM/yyyy'}}</td>
                <td [ngClass]="{'grey-text':!factuur.vervallen}">{{factuur.partner}}</td>
                <td [ngClass]="{'grey-text':!factuur.vervallen}">{{factuur.bedrag | number: '1.2-2'}} €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
