<div *ngIf="unit" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Eigendom aanpassen</h3>
        <form>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="unit.naam" type="text" name="naam" class="form-control" id="naam">
            <label for="naam" class="">Naam eigendom</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="unit.duizendste" type="text" name="duizendste" class="form-control" id="duizendste">
            <label for="duizendste" class="">Duizendste</label>
          </div>
        </form>
        <button type="button" mdbBtn mdbWavesEffect color="primary" outline="true" (click)="back()">Annuleren</button>
        <button type="button" mdbBtn mdbWavesEffect color="primary" (click)="saveUnit(unit)">Wijziging oplaan</button>
    </div>
  </div>
</div>
