<div *ngIf="factuur" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3 *ngIf="factuur.type==='leverancier'">Factuur Wijzigen</h3>
      <h3 *ngIf="factuur.type==='voorschot'">Voorschot</h3>
        <form>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.bedrag" type="text" name="bedrag" class="form-control" id="bedrag">
            <label for="bedrag" class="">Bedrag</label>
          </div>
          <div class="md-form form-group">
            <mdb-select *ngIf="partnersSelect" (ngModelChange)="getSelectedValue($event)"
                        [(ngModel)]="selectedPartner" [options]="partnersSelect" name="partners" placeholder="Leverancier selecteren"></mdb-select>
            <label for="partners" class="">Leverancier</label>
          </div>
          <div class="md-form form-group">
            <mdb-select *ngIf="typeSelect" (ngModelChange)="getSelectedType($event)"
                        [(ngModel)]="selectedType" [options]="typeSelect" name="types" placeholder="Kostentype selecteren"></mdb-select>
            <label for="partners" class="">Kostentype</label>
          </div>
          <div class="md-form form-group">
            <input mdbInput [(ngModel)]="factuur.omschrijving" type="text" name="omschrijving" class="form-control" id="omschrijving">
            <label for="omschrijving" class="">Omschrijving</label>
          </div>
          <div class="md-form form-group">
            <mdb-date-picker id="factuurdatum" name="factuurdatum" [options]="myDatePickerOptions" [label]="'Factuurdatum'" [(ngModel)]="factuur.datum"></mdb-date-picker>
          </div>
          <div class="md-form form-group">
            <mdb-date-picker id="vervaldatum" name="vervaldatum" [options]="myDatePickerOptions" [label]="'Vervaldatum'" [(ngModel)]="factuur.vervaldatum"></mdb-date-picker>
          </div>
        </form>
        <button type="button" mdbBtn mdbWavesEffect color="primary" outline="true" (click)="back()">Annuleren</button>
        <button type="button" mdbBtn mdbWavesEffect color="primary" (click)="saveFactuur(factuur)">Wijziging opslaan</button>
      </div>
    </div>
</div>
