<br>
<div>
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Filter...">
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">#
      <span *ngIf="key =='id'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('datum')">Datum
      <span *ngIf="key =='datum'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('bedrag')">Bedrag
      <span *ngIf="key =='bedrag'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('tegenrekening')">Tegenrekening</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let uittreksel of uittreksels | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
    <th scope="row">{{ uittreksel.id }}</th>
    <td>
      {{ uittreksel.datum | date:'dd/MM/yyyy' }}
    </td>
    <td>{{ uittreksel.bedrag }}</td>
    <td>{{ uittreksel.tegenrekening }}</td>
  </tr>
  </tbody>
  <br>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
