<br>
<div style='display:inline-block;width:50%'>
  <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Filter...">
</div>
<div style='display:inline-block;width:50%'>
  <select class="form-control" [(ngModel)]="selectedType" name="rekeningtype" (change)="selectClick()">
       <option value='werk' selected="selected">Werkrekening</option>
       <option value='reserve'>Reserverekening</option>
  </select>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">#
      <span *ngIf="key =='id'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('datum')">Datum
      <span *ngIf="key =='datum'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('type')">Omschrijving</th>
    <th scope="col" (click)="sort('bedrag')">Bedrag
      <span *ngIf="key =='bedrag'" class='fa' [ngClass]="{'fa-chevron-up':reverse, 'fa-chevron-down':!reverse }"></span></th>
    <th scope="col" (click)="sort('tegenrekening')">Tegenrekening</th>
    <th scope="col" (click)="sort('tegenpartij')">Tegenpartij</th>
    <th scope="col" (click)="sort('type')">Type</th>
    <th scope="col" (click)="sort('type')">Factuur/Voorschot</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let uittreksel of uittreksels | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
    <th scope="row">{{ uittreksel.id }}</th>
    <td>
      {{ uittreksel.datum | date:'dd/MM/yyyy' }}
    </td>
    <td>{{ uittreksel.omschrijving }}</td>
    <td>{{ uittreksel.bedrag }}</td>
    <td>{{ uittreksel.tegenrekening }}</td>
    <td>{{ uittreksel.tegenpartij }}</td>
    <td>{{ uittreksel.type }}</td>
    <td>{{ uittreksel.factuur }}</td>
  </tr>
  </tbody>
  <br>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
