<h3>Overzicht eigendommen</h3>

<div style='display:inline-block;width:50%'>
  <button *ngIf="complete!==1000" type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/unitcreate">
    <i class="fa fa-plus-square"></i>  Eigendom toevoegen</button>
  <button *ngIf="complete===1000" type="button" mdbBtn color="light" mdbWavesEffect routerLink="/unitcreate">
    <i class="fa fa-plus-square"></i>  Eigendom toevoegen</button>
</div>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let unit of units">
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title">Appartement {{unit.naam}}</h5>
      </div>
      <div class="card-body">
        <div *ngIf = "!unit.eigenaar" >
        <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/eigenaarcreate/{{unit.id}}">
          <i class="fa fa-user" aria-hidden="true"></i> Eigenaar toevoegen</button><br>
        </div>
        <div *ngIf = "unit.eigenaar" >
        <button type="button" mdbBtn color="light" mdbWavesEffect routerLink="/eigenaaredit/{{unit.eigenaarid}}">
          <i class="fa fa-user" aria-hidden="true"></i> {{unit.eigenaar}}</button><br>
        </div>
        <p class="card-text">{{unit.duizendste}}/1000</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" routerLink="/unitedit/{{unit.id}}">
          <i class="fa fa-edit" aria-hidden="true"></i> Aanpassen
        </a>
      </div>
    </div>
  </div>
</div>
