<h3>Overzicht eigendommen</h3>

<div style='display:inline-block;width:50%;vertical-align:top'>
  <button *ngIf="complete==1000" type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/unitcreate">
    <i class="fa fa-plus-square"></i>  Eigendom toevoegen</button>
  <button *ngIf="complete!=1000" type="button" mdbBtn color="light" mdbWavesEffect routerLink="/unitcreate">
    <i class="fa fa-plus-square"></i>  Eigendom toevoegen</button>
</div>
<div style='display:inline-block;width:50%;text-align:right'>
  <p style="margin:0px" [ngStyle]="{'color':complete==1000 ? 'black' : 'red' }">Totaal duizendsten: {{complete | number: '1.2-2'}}/1000</p>
  <p *ngIf="instellingen&&!instellingen.nieuw" [ngStyle]="{'color':checkWerkrekening() ? 'black' : 'red' }" style="margin:0px">Totaal overgenomen saldo werkrekeningen: {{werkrekeningsaldo | number: '1.2-2'}} €</p>
  <p *ngIf="instellingen&&!instellingen.nieuw" [ngStyle]="{'color':checkReserverekening() ? 'black' : 'red' }" style="margin:0px">Totaal overgenomen saldo reserverekeningen: {{reserverekeningsaldo | number: '1.2-2'}} €</p>

</div>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let unit of units">
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title">Appartement {{unit.naam}}</h5>
      </div>
      <div class="card-body">
        <div *ngIf = "!unit.eigenaar" >
        <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/eigenaarcreate/{{unit.id}}">
          <i class="fa fa-user" aria-hidden="true"></i> Eigenaar toevoegen</button><br>
        </div>
        <div *ngIf = "unit.eigenaar" >
        <button type="button" mdbBtn color="light" mdbWavesEffect routerLink="/eigenaaredit/{{unit.eigenaarid}}">
          <i class="fa fa-user" aria-hidden="true"></i> {{unit.eigenaar}}</button><br>
        </div>
        <p class="card-text">{{unit.duizendste | number: '1.2-2'}}/1000</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" routerLink="/unitedit/{{unit.id}}">
          <i class="fa fa-edit" aria-hidden="true"></i> Aanpassen
        </a>
      </div>
    </div>
  </div>
</div>

<button *ngIf="setupService.setup!='true'" type="button" mdbBtn mdbWavesEffect color="primary" routerLink="/instellingen"><i class="fas fa-chevron-left"></i> Vorige</button>
