<!-- <div class="container" style="margin-top: 10px;"> -->
<div class="row pt-3 pb-1">
  <button class="btn btn-primary" routerLink="/unitcreate">
    <i class="fa fa-plus-square"></i>  Unit toevoegen</button>
</div>
<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let unit of units">
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title">Appartement {{unit.naam}}</h5>
      </div>
      <div class="card-body">

        <p class="card-text">{{unit.duizendste}}/1000</p>
        <div *ngIf = "!unit.eigenaar" >
        <a href="#" class="btn btn-primary mb-2 bl-1" routerLink="/eigenaarcreate/{{unit.id}}">
          <i class="fa fa-user" aria-hidden="true"></i> Eigenaar toevoegen</a><br>
        </div>
        <div *ngIf = "unit.eigenaar" >
        <a href="#" class="btn btn-secondary mb-2 bl-1" routerLink="/eigenaaredit/{{unit.eigenaarid}}">
          <i class="fa fa-user" aria-hidden="true"></i> {{unit.eigenaar}}</a><br>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" routerLink="/unitedit/{{unit.id}}">
          <i class="fa fa-edit" aria-hidden="true"></i> Aanpassen
        </a>
      </div>
    </div>
  </div>
</div>

  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Naam</th>
        <th>Duizendsten</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units">

        <td>{{ unit.id }}</td>
        <td> {{ unit.naam }}</td>
        <td> {{ unit.duizendste }}</td>
        <td>
          <button class="btn btn-primary" (click)="selectAppartement(appartement)"> Show details</button>
        </td>
      </tr>
    </tbody>
  </table> -->

<!-- </div> -->
